
/* general styles */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    background: silver;
}

div {
    margin-bottom: 10px;
}

/* themes */

.blue-background {
    background: blue;
    color: white;
}

.white-background {
    background: white;
    color: black;
}

/* account info section*/

    #accountInfo{
        width: 100%;
        text-align: center;
    }

    .name{
        font-size: 18px;
    }

    .mainTitle{
        margin-bottom: 20px;
        font-size: 35px;
        padding: 30px;
    }

    .balance {
        font-size: 20px;
    }

    .balanceInfo{
        padding: 25px;

    }

/* transactions section styles*/

#transactions {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* input elements ,select and button styles*/

#addtransaction{
    display: flex;
    justify-content: center;
}

input, button, select {
    margin-right: 5px;
    font-size: 17px;
}

button {
    padding: 0 15px;
}
/* income and expenses transactions section*/

#summaryCointainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.transactions-list{
    flex: 1;
    margin-left: 10px;
    height: 300px;
}

.summaryTitles{
    text-align: center;
    margin-bottom: 10px;
}


/* each income or expense transaction style*/
#transactionInfo{
    display: flex;
    justify-content: space-between;
}

.transactionDetail{
    width:30%;
    font-size: 18px;
}

.amount {
    text-align: right;
    margin-right: 90px;
}

.transactionTitle {
    font-weight: bold;
}
